@font-face {
  font-family: "Plain Light";
  src: url(fonts/plain-regular-webfont.ttf);
}
@font-face {
  font-family: "Plain Light";
  src: url(fonts/plain-light-webfont.ttf);
}
@font-face {
  font-family: "Silk Serif";
  src: url(fonts/silkserif-regularitalic-webfont.ttf);
}
@font-face {
  font-family: "Silk Serif";
  src: url(fonts/silkserif-lightitalic-webfont.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
#crsr {
  height: 2vw;
  width: 2vw;
  border: 1px solid #d7d1d1;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  mix-blend-mode: difference;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 12vw;
}
.line {
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 3vw;
}
#line1-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3.5vw;
  font-family: "Silk Serif";
  font-weight: 100;
}
#line1-part1 h5 {
  /* background-color: red ; */
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 600;
}
.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  /* font-family: 'Silk Serif'; */
  margin-left: -30px;
  font-weight: 600;
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* text-align: center; */
}
@-webkit-keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    opacity: 0;
    font-weight: 500;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
@keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    opacity: 0;
    font-weight: 500;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #151515;
}

#page1 {
  min-height: 100vh;
  width: 100%;

  z-index: 100;
  position: relative;
}

#page1 #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0vw 4.5vw;
}
#nav-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 7vw;
}
#ob {
  width: 55px;
  margin-left: -3vw;
  margin-right: 6vw;
}
#nav-part1 p:nth-child(1) {
  font-size: 1vw;
  margin-top: 2.5vw;
}

#nav-part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.5vw;
}

#nav-part2 p {
  font-size: 1vw;
  font-weight: 100;
}

.page1-content {
  margin-left: 28%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page1-content:nth-child(2) {
  margin-top: 10vh;
}
.page1-content h1 {
  font-family: "Plain Light";
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  position: relative;
}
#pc1::before {
  content: "01";
  position: absolute;
  font-family: "Silk Serif";
  font-size: 3.1vw;
  font-weight: 100;
  top: 25.5%;
  left: 21%;
}
#pc2,
#pc4 {
  position: relative;
  z-index: 999;
}

.page1-content h2 {
  font-family: "Plain Light";
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  border-bottom: 0.7vw solid #fff;
}
.page1-content h2:hover {
  -webkit-text-stroke: 1px #ffff;
  border-bottom: 0.7vw solid transparent;
  color: transparent;
  font-weight: 500;
}
._canvas_container {
  z-index: 999999 !important ;
  pointer-events: none;
}
#flag {
  height: 25vw;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
#pc3 {
  z-index: 999;
  position: relative;
}
#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 20vh;
  position: relative;
}
#video-container {
  height: 70vh;
  width: 71vw;
  left: 28.3%;
  position: relative;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;
}

#video-container video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
}
#video-crsr {
  background-color: #ffa63d;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  top: -13%;
  left: 80%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#video-crsr i {
  font-size: 2.5vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding: 4vw 5vw;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
#page3 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  margin-left: 28%;
}
#page3 .underLine {
  height: 1.5px;
  width: 65%;
  background-color: #ffffff;
  margin: 2vw 0;
  margin-left: 28%;
  margin-bottom: 5vw;
}
#page3 h1::before {
  content: "02";
  position: absolute;
  margin-left: -7vw;
  margin-top: 0.7vw;
  font-family: "Silk Serif";
  font-size: 3.1vw;
  font-weight: 100;
}
#image-div-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2.5vw;
}
.image-div {
  height: 32vw;
  width: 25vw;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.image-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.image-div:nth-child(2) {
  height: 35vw;
  width: 30vw;
}
#page3-circle1 {
  height: 25vw;
  width: 25vw;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 38vh;
  margin-left: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
#page3-circle1 svg {
  height: 40%;
}
#page3-circle2 {
  height: 25vw;
  width: 25vw;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
#page3-circle2 svg {
  height: 40%;
  rotate: -45deg;
}

.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
}
.circle-in p {
  font-size: 1vw;
  text-align: left;
  width: 60%;
  color: black;
  font-weight: 500;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
#page3-circle1:hover .circle-in {
  scale: 1;
}
#page3-circle1:hover p {
  scale: 1;
}
#page3-circle2:hover .circle-in {
  scale: 1;
}
#page3-circle2:hover p {
  scale: 1;
  width: 50%;
}
#page4 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 35vw;
}
#page4-content {
  width: 72vw;
  margin-left: 28%;
  position: relative;
}
#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
}
#page4-content h1::before {
  content: "03";
  position: absolute;
  margin-left: -7vw;
  margin-top: 0.7vw;
  font-family: "Silk Serif";
  font-size: 3.1vw;
  font-weight: 100;
}

#page4-content .underLine {
  height: 1.5px;
  width: 90%;
  background-color: #ffffff;
  margin: 2vw 0;
}
#page4-content p {
  font-size: 2.1vw;
  width: 45%;
  font-weight: 500;
  margin: 2.5vw 0;
  text-align: left;
}
#page4-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70vw;
  height: 80vh;
  gap: 2vw;
  margin-left: -10.5%;
}
#page4-flex img {
  width: 33vw;
  height: 80vh;
  -o-object-fit: cover;
  object-fit: cover;
}
#page4-flex p {
  font-size: 1vw;
  text-align: left;
  margin-top: -29%;
  width: 20vw;
  line-height: 1.5vw;
}
#blue-div {
  width: 33vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #3f7df4;
  position: relative;
  top: -24vh;
  left: 32%;
  padding: 3vw;
  margin-bottom: -7vw;
}
#blue-div-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #b7cefb;
}
#blue-div-content h4 {
  font-size: 1.7vw;
  font-weight: 100;
  padding: 2.2vw 0;
  width: 60%;
}
#blue-div-content p {
  font-size: 1vw;
  width: 40%;
}
.underLine #pp {
  font-size: 1.2vw;
  padding: 1vw 0;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 30vw;
}

.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -3vw;
}
.elem h1 {
  font-size: 7vw;
  font-weight: 400;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition: all ease linear;
  -o-transition: all ease linear;
  transition: all ease linear;
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -3vw;
}
.elem2 h1 {
  font-size: 7vw;
  font-weight: 400;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition: all ease linear;
  -o-transition: all ease linear;
  transition: all ease linear;
  animation-direction: reverse;
}
.elem span {
  font-family: "Silk serif";

  color: transparent;
}
.elem2 span {
  font-family: "Silk serif";
  font-style: italic;
  color: transparent;
}
#footer {
  height: 100vh;
  width: 100%;
  padding-right: 2vw;
  position: relative;
  padding-left: 28vw;
  margin-top: 5vw;
}
#footer h1 {
  font-size: 7vw;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
#footer h1::before {
  content: "04";
  position: absolute;
  margin-left: -7vw;
  margin-top: 0.7vw;
  font-family: "Silk Serif";
  font-size: 3.1vw;
  font-weight: 100;
}

#footer-text {
  position: relative;
}
#footer-text h2 {
  font-size: 7vw;
  position: absolute;
  top: -10%;
  font-weight: 900;
  opacity: 0;
  left: 0;
  font-family: sans-serif;
}

#footer-text h2 span {
  font-family: sans-serif;
  opacity: 0;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
#footer .underLine {
  height: 1.7px;
  width: 95%;
  background-color: #ffffff;
  margin: 2vw 0;
  margin-left: 0.4vw;
  margin-right: 2vw;
}

#footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 2vw;
  margin-left: 0.4vw;
  padding-right: 8vw;
  gap: 11.5vw;
}
.box {
  margin-bottom: 2vw;
}
.box h6 {
  margin-bottom: 2vw;
  font-size: 1.3vw;
  font-weight: 500;
  font-family: "Plain Regular";
}
.box h5 {
  font-size: 2vw;
  font-weight: 500;
}
#footer p {
  font-size: 1.5vw;
  padding: 2vw 0;
}

@media (max-width: 600px) {
  #page1 {
    height: 50vh;
    width: 100%;
    z-index: 100;
    position: relative;
    padding-top: 1px;
  }

  #page1 #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 4vw 6vw;
    margin-bottom: 30vw;
    position: fixed;
    top: 0;
  }

  #nav-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 7vw;
  }

  #ob {
    margin-left: 60vw;
  }
  #nav svg {
    scale: 1;
  }
  #nav-part2 {
    display: none;
  }
  .page1-content {
    margin-left: 4%;
    height: fit-co7tent;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2vw;
  }

  .page1-content:nth-child(2) {
    margin-top: 24vh;
  }
  .page1-content h1 {
    font-family: "Plain Light";
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 11vw;
    position: relative;
  }
  #pc1::before {
    content: "01";
    position: absolute;
    font-family: "Silk Serif";
    font-size: 6vw;
    font-weight: 100;
    top: 19.5%;
    left: 6.3%;
  }
  .page1-content h2 {
    font-family: "Plain Light";
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 11vw;
    border-bottom: 1.4vw solid #fff;
  }

  #page2 {
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -60vh;
  }
  #video-container {
    height: 50vh;
    width: 100vw;
    left: 0%;
    position: relative;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
  }

  #video-container video {
    height: 50vh;
    width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0;
  }
  #video-crsr {
    background-color: #ffa63d;
    height: 25.5vw;
    width: 25.5vw;
    border-radius: 50%;
    top: 35%;
    margin-left: -40%;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #video-crsr i {
    font-size: 7.5vw;
  }

  #page3 {
    height: 26 0vh;
    width: 100%;
    position: relative;
    padding: 0vw 5vw;
    margin-top: 70vh;
    margin-bottom: 70vh;
  }
  #page3 h1 {
    font-size: 10vw;
    text-transform: uppercase;

    margin-left: 1%;
  }
  #page3 .underLine {
    height: 1.5px;
    width: 85%;
    background-color: #ffffff;
    margin: 4vw 0;
    margin-left: 1%;
    margin-bottom: 5vw;
  }
  #page3 h1::before {
    content: "02";
    position: absolute;
    margin-left: 1vw;
    margin-top: -6vw;
    font-family: "Silk Serif";
    font-size: 5.1vw;
    font-weight: 100;
  }
  #image-div-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 7vw;
    margin-top: 7vh;
  }
  .image-div {
    height: 100vw;
    width: 90vw;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .image-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  .image-div:nth-child(2) {
    height: 100vw;
    width: 90vw;
  }
  #page3-circle1 {
    display: none;
  }

  #page3-circle2 {
    display: none;
  }
  #page4 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 140vw;
  }
  #page4-content {
    width: 72vw;
    margin-left: 4%;
    position: relative;
    padding: 0 2vw;
  }
  #page4-content h1 {
    font-size: 10vw;
    text-transform: uppercase;
  }
  #page4-content h1::before {
    content: "03";
    position: absolute;
    margin-left: 1vw;
    margin-top: -7vw;
    font-family: "Silk Serif";
    font-size: 5vw;
    font-weight: 100;
  }

  #page4-content .underLine {
    height: 0.5px;
    width: 79vw;
    background-color: #ffffff;
    margin: 5vw 0vw;
  }
  #page4-content p {
    font-size: 5.3vw;
    width: 100%;
    font-weight: 500;
    margin: 10vw 0;
    text-align: left;
  }
  #page4-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 96vw;
    height: 90vw;
    padding: 0 0vw;
  }
  #page4-flex img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-left: 6vw;
  }
  #page4-flex p {
    display: none;
  }
  #blue-div {
    width: 90.5vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #3f7df4;
    position: relative;
    top: 1vh;
    left: -2.1%;
    margin-bottom: 10vw;
  }
  #blue-div-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #b7cefb;
  }
  #blue-div-content h4 {
    font-size: 4vw;
    font-weight: 100;
    padding: 2.2vw 0;
    width: 60%;
    margin-top: 7vw;
  }
  #blue-div-content p {
    font-size: 3.5vw;
    width: 40%;
    margin-bottom: 5vw;
  }
  .underLine #pp {
    font-size: 3.4vw;
    padding: 3vw 0vw;
  }
  #page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 90vw;
  }

  .elem {
    white-space: nowrap;
    overflow-x: hidden;
    /* margin-bottom: -3vw; */
  }
  .elem h1 {
    font-size: 10vw;
    font-weight: 400;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition: all ease linear;
    -o-transition: all ease linear;
    transition: all ease linear;
  }
  @-webkit-keyframes scroll {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  @keyframes scroll {
    from {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -3vw;
  }
  .elem2 h1 {
    font-size: 10vw;
    font-weight: 400;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 25s;
    animation-duration: 25s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transition: all ease linear;
    -o-transition: all ease linear;
    transition: all ease linear;
    animation-direction: reverse;
  }
  .elem span {
    font-family: "Silk serif";

    color: transparent;
  }
  .elem2 span {
    font-family: "Silk serif";
    font-style: italic;
    color: transparent;
  }
  #footer {
    height: 90vh;
    width: 100%;
    padding-right: 2vw;
    position: relative;
    padding-left: 3vw;
    margin-top: -94vw;
  }
  #footer h1 {
    font-size: 10vw;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
  }
  #footer h1::before {
    content: "04";
    position: absolute;
    margin-left: 1vw;
    margin-top: -7vw;
    font-family: "Silk Serif";
    font-size: 5vw;
    font-weight: 100;
  }

  #footer-text {
    position: relative;
  }
  #footer-text h2 {
    font-size: 10vw;
    position: absolute;
    top: -10%;
    font-weight: 900;
    opacity: 0;
    left: 0;
    font-family: sans-serif;
  }

  #footer-text h2 span {
    font-family: sans-serif;
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  #footer .underLine {
    height: 1.7px;
    width: 95%;
    background-color: #ffffff;
    margin: 4vw 0;
    margin-left: 0.4vw;
    margin-right: 2vw;
  }

  #footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 2vw;
    margin-left: 0.4vw;
    padding-right: 8vw;
    gap: 5.5vw;
  }

  .box {
    margin-bottom: 2vw;
  }
  .box h6 {
    margin-bottom: 5vw;
    font-size: 4vw;
    font-weight: 500;
    font-family: "Plain Regular";
  }
  .box h5 {
    font-size: 5vw;
    font-weight: 500;
  }
  #footer p {
    font-size: 5vw;
    padding: 2vw 0;
  }
}
